/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #343a40;
}

/* General */
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.text-align {
  text-align: center;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding-top: 4.8rem;
}
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.heading-primary {
  font-size: 3rem;
}

.quote-text,
.author {
  font-size: 1.6rem;
}

.quote-text {
  font-weight: 500;
}

.author {
  font-style: italic;
}
